
.navbar-brand, .nav-link {
    color: #fff !important;
}

.navbar-brand img {
    width: 100%;
}

.container-labs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.lab-unit{
    position: relative;
}
.lab_background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lab_img{
    width: 50%;
}
.lab_info{
    z-index: 1;
}

/* Profile Picture Styles */
.profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profile-initial {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
}

/* Profile Section */
.navbar-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-light.small {
    font-size: 0.875rem; 
}